.toolbar {
	background-color: var(--fvm-bg-clr2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--fvm-editor-tool-bar-height);

	.btn {
		padding-left: 1rem;
		padding-right: 1rem;
		width: 3rem;
		color: var(--fvm-text-clr);
	}
}

.viewer {
	overflow-x: scroll;
	overflow-y: scroll;
	height: calc(100vh - var(--fvm-editor-tool-bar-height) - var(--fvm-title-bar-height));
}
