@import '@/styles/mixin.scss';

.Titlebar {
	@include flex-center;

	height: var(--fvm-title-bar-height);
	line-height: calc(var(--fvm-title-bar-height));
	background-color: var(--fvm-title-bar-background-clr);
	color: var(--fvm-text-clr);
	cursor: pointer;

	position: fixed;
	top: 1px;
	right: 1px;
	left: 1px;
	text-align: center;
	user-select: none;

	.Content {
		position: relative;
		width: 100%;
		z-index: var(--fvm-z-index-title-bar-content);

		.title {
			background-color: var(--fvm-bg-clr);
			padding: 0.3rem 0.5rem;
		}
	}

	.Actions {
		z-index: var(--fvm-z-index-title-bar_actions);

		span:hover {
			background-color: var(--fvm-cmp-clr);
			color: var(--fvm-text-clr2);
		}
	}

	$processBarHeight: 3px;

	.ProcessBar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: var(--fvm-z-index-title-bar-progress-bar);
		height: var(--fvm-title-bar-height);

		.Colors {
			height: $processBarHeight;
			background-image: linear-gradient(
				to right,
				var(--fvm-progress-clr-start),
				var(--fvm-progress-clr-middle),
				var(--fvm-progress-clr-end)
			);
		}

		.Shade {
			position: absolute;
			top: 0;
			right: 0;
			height: $processBarHeight;
			background-color: var(--fvm-solid-clr) !important;
		}
	}
}
