@import '@/styles/mixin.scss';

.toolbar {
	@include flex-center;
	background-color: var(--fvm-tool-bar-background-clr);
	color: var(--fvm-tool-bar-clr);
	border-bottom: 1px solid var(--fvm-border-clr);
	padding: 0;
	height: var(--fvm-editor-tool-bar-height);

	.actionBtn {
		background-color: var(--fvm-cmp-clr3);
		padding: var(--fvm-spacing1);
		margin: 0 var(--fvm-spacing1);
		border-radius: var(--fvm-spacing2);
	}
}

.colContainer {
	.colPreview {
		background-color: var(--fvm-bg-clr);
		color: var(--fvm-text-clr);
		padding: 0.5rem;

		@include headings;

		a {
			@include link;
		}

		del {
			@include strikethrough;
		}

		> code {
			@include code;
		}

		pre code {
			line-height: 1.5rem;
		}

		table {
			border-spacing: 0;
			border-collapse: collapse;

			th,
			td {
				border: 1px solid var(--fvm-border-clr2);
			}

			th {
				background-color: var(--fvm-cmp-clr2);
			}
		}
	}
}

.colContainerDesktop {
	display: flex;

	.col {
		flex: 1; /* When there are two child elements, divide the width equally. */
		width: 50%;
		height: calc(100vh - var(--fvm-title-bar-height) - var(--fvm-editor-tool-bar-height));
		overflow: scroll;
	}

	> :only-child {
		flex: none; /* When there is only one child element, do not stretch and occupy the full width. */
		width: 100%;
	}
}

.colContainerMobile {
}
