# Refer: https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#about-line-endings

# Set the default behavior, in case people don't have core.autocrlf set.
* text=false

# Declare files that will always have CRLF line endings on checkout.
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.rs text eol=lf
*.ts text eol=lf

*.bat eol=lf
*.txt eol=lf
*.md eol=lf
*.gitignore eol=lf
*.gitattributes eol=lf
*.cjs eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.psd binary
*.bin binary