.TitleBar {
	.Bar {
		background-color: var(--fvm-title-bar-background-clr);
		padding: 0.5rem 0;
		border: 1px solid var(--fvm-bg-clr2);

		.Title {
			padding: 0.25rem 1rem;
		}

		.Btn {
			padding: 0.25rem 0.75rem;
		}
	}
}
