.ListItem {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1px solid var(--fvm-cmp-clr);

	.Icon {
		flex: 0 0 auto;
		padding-inline: 0.5rem;
	}

	.Content {
		flex-grow: 1;
	}
}
