@import '@/styles/mixin.scss';

:root {
	--exd-backgroud-color: var(--fvm-bg-clr);
	--exd-text-color: var(--fvm-text-clr);
	--exd-component-backgroud-color: var(--fvm-cmp-clr) !important;
	--exd-component-color: var(--fvm-text-clr);
	--exd-component-border-color: var(--fvm-border-clr);
	--exd-highlight-color: var(--fvm-highlight-clr);

	--exd-toolbar-backgroud-color: var(--fvm-bg-clr2);
	--exd-toolbar-text-color: var(--fvm-text-clr2);
	--exd-toolbar-ctrl-backgroud-color-active: var(--fvm-solid-clr);
	--exd-toolbar-ctrl-backgroud-color-hover: var(--fvm-solid-clr2);

	--exd-toolbar-height: 40px;
}

.dark {
	.exsied {
		.exsied-toolbar-main {
			.exsied-icon {
				filter: invert(0.9);
			}
		}

		.exsied-popup-view .exsied-icon {
			filter: invert(0.9);
		}
	}
}

.exsied {
	.exsied-toolbar-main {
		z-index: 1;

		.exsied-dropdown-list {
			overflow: scroll;
			max-height: 80vh;
		}
	}

	.exsied-workplace {
		overflow: scroll;
		max-height: 100%;
		height: calc(100vh - var(--exd-toolbar-height) - var(--fvm-title-bar-height));

		@include selection;
		@include headings;

		s {
			@include strikethrough;
		}

		a,
		u {
			@include underline;
		}

		a {
			@include link;
		}

		code {
			@include code;
		}

		pre code {
			@include code;

			display: block;

			&::before {
				all: unset;
			}
			&::after {
				all: unset;
			}
		}

		blockquote {
			@include quote;
		}
	}
}

.exsied-btn-table-cell-action {
	padding: 0;
}
