$baseSpace: 1rem;
$sizes: (
	0: 0,
	1: $baseSpace * 0.25,
	2: $baseSpace * 0.5,
	3: $baseSpace * 0.75,
	4: $baseSpace * 1,
	5: $baseSpace * 1.25,
	6: $baseSpace * 1.5,
	7: $baseSpace * 1.75,
	8: $baseSpace * 2,
	9: $baseSpace * 2.25,
	10: $baseSpace * 2.5,
	11: $baseSpace * 2.75,
	12: $baseSpace * 3,
);

$textSizeLineHeightTmes: 1.5; // Line-height is six times more than textSize.
