// cursor
.cur-ptr {
  cursor: pointer !important;
}

// display
.disp-block {
  display: block !important;
}

.disp-grid {
  display: grid !important;
}

.disp-none {
  display: none !important;
}

.disp-inline-block {
  display: inline-block !important;
}

.disp-inline {
  display: inline !important;
}

.disp-flex {
  display: flex !important;
}

// flex
.flex-grow {
  flex-grow: 1 !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

// font
.font-bold {
  font-weight: 700 !important;
}

// height
.h-full {
  height: 100% !important;
}

.max-h-full {
  max-height: 100% !important;
}

// margin
.mb-0 {
  margin-bottom: 0px !important
}

.mb-1 {
  margin-bottom: 0.25rem !important
}

.mb-2 {
  margin-bottom: 0.5rem !important
}

.ml-2 {
  margin-left: 0.5rem !important
}

.ml-4 {
  margin-left: 1rem !important
}

.mr-1 {
  margin-right: 0.25rem !important
}

.mr-2 {
  margin-right: 0.5rem !important
}

.mt-1 {
  margin-top: 0.25rem !important
}

.mt-2 {
  margin-top: 0.5rem !important
}

.mt-4 {
  margin-top: 1rem !important
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

// opacity
.opacity-0 {
  opacity: 0 !important
}

.opacity-100 {
  opacity: 1 !important
}

.opacity-50 {
  opacity: 0.5 !important
}

// padding
.p-1 {
  padding: 0.25rem !important;
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
  padding: 0.5rem !important;
}

.p-4 {
  padding: 1rem !important;
  padding: 1rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

// positon
.pos-abs {
  position: absolute !important;
}

.pos-rel {
  position: relative !important;
}

.left-0 {
  left: 0px !important;
}

.right-auto {
  right: auto !important;
}

.top-0 {
  top: 0px !important;
}

// text
.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.text-lg {
  font-size: 1.2rem !important;
  line-height: 1.7rem !important;
}

.text-xl {
  font-size: 2rem !important;
  line-height: 3rem !important;
}

.text-xxl {
  font-size: 3rem !important;
  line-height: 4.5rem !important;
}

.text-sm {
  font-size: 0.8rem !important;
  line-height: 1.2rem !important;
}

.text-xs {
  font-size: 0.7rem !important;
  line-height: 0.9rem !important;
}

.text-break-all {
  word-wrap: break-word;
  word-break: break-all;
}

.direction-ltr {
  direction: ltr;
}

.direction-rtl {
  direction: rtl;
}

// transform
.transform-none {
  transform: none !important
}

.translate-x-0 {
  --enas-translate-x: 0px;
  transform: translate(var(--enas-translate-x), var(--enas-translate-y)) rotate(var(--enas-rotate)) skewX(var(--enas-skew-x)) skewY(var(--enas-skew-y)) scaleX(var(--enas-scale-x)) scaleY(var(--enas-scale-y))
}

.translate-x-100\% {
  --enas-translate-x: 100%;
  transform: translate(var(--enas-translate-x), var(--enas-translate-y)) rotate(var(--enas-rotate)) skewX(var(--enas-skew-x)) skewY(var(--enas-skew-y)) scaleX(var(--enas-scale-x)) scaleY(var(--enas-scale-y))
}

// width
.w-auto {
  width: auto !important
}

.w-full {
  width: 100% !important;
}

// float
.fl {
  float: left;
}

.fr {
  float: right;
}

// other 
.gap-4 {
  gap: 1rem !important;
}

.items-center {
  align-items: center !important;
}

.justify-content-right {
  justify-content: right !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.select-none {
  user-select: none;
}

//md
@media (min-width:768px) {}

//lg
@media (min-width:1024px) {}

//xl
@media (min-width:1280px) {}