@import '_variables.scss';

:root {
	--enas-base-font-size: 14px;
	--enas-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--enas-editor-font-family: var(--enas-font-family); // Font family in editor

	--enas-title-bar-height: 36px;
	--enas-desktop-activity-bar-width: 60px;
	--enas-desktop-activity-bar-padding: 10px;
	--enas-desktop-activity-bar-icon-size: 20px;
	--enas-desktop-rezizer-width: 2px;
	--enas-editor-tool-bar-height: 30px;
	--enas-jodit-toolbar-height: 77px;
	--enas-jodit-status-bar-height: 20px;

	--enas-z-index-title-bar-progress-bar: 2;
	--enas-z-index-title-bar-content: 3;
	--enas-z-index-title-bar_actions: 4;
	--enas-z-index-loading: 10;

	--enas-scrollbar-width: 5px;
	--enas-scrollbar-height: 5px;

	--enas-spacing-1: #{map-get($sizes, 1)};
	--enas-spacing-2: #{map-get($sizes, 2)};

	// Status color
	--enas-danger-clr: rgb(243, 102, 102);
	--enas-info-clr: rgb(142, 176, 197);
	--enas-primary-clr: rgb(64, 158, 255);
	--enas-success-clr: rgb(98, 183, 56);
	--enas-warning-clr: rgb(230, 162, 60);

	// Progress color
	--enas-progress-clr-start: rgb(128, 0, 255);
	--enas-progress-clr-middle: rgb(39, 158, 255);
	--enas-progress-clr-end: rgb(0, 178, 0);

	// The default color of text
	--enas-default-text-clr: var(--enas-default-text-clr-light);
	--enas-default-text-clr-light: #333; // Light mode
	--enas-default-text-clr-dark: #999; // Dark mode

	// Other color
	--enas-highlight-clr: var(--enas-solid-clr);
	--enas-scrollbar-thumb-clr: var(--enas-border-clr);
}

.light:root {
	--enas-default-text-clr: var(--enas-default-text-clr-light);
}

.dark:root {
	--enas-default-text-clr: var(--enas-default-text-clr-dark);
}

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
	font-size: var(--enas-base-font-size);
	font-family: var(--enas-font-family);
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: normal;
	margin: 0;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	color: var(--enas-default-text-clr) !important;
	background-color: var(--enas-bg-clr) !important;
}

.background-color {
	color: var(--enas-bg-clr) !important;
}

.background2-color {
	background-color: var(--enas-bg-clr2) !important;
}

.text-color {
	color: var(--enas-text-clr) !important;
}

.text-color2 {
	color: var(--enas-text-clr2) !important;
}

.highlight-color {
	color: var(--enas-solid-clr) !important;
}

.highlight-color2 {
	color: var(--enas-solid-clr2) !important;
}

.danger-color {
	color: var(--enas-danger-clr) !important;
}

// scrollbar
::-webkit-scrollbar {
	width: var(--enas-scrollbar-width);
	height: var(--enas-scrollbar-height);
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	background-color: var(--enas-scrollbar-thumb-clr);
}

::-webkit-scrollbar-corner {
	display: none;
}

// custom list
.enas-list {
	.group-title {
		font-weight: 700;
		color: var(--enas-solid-clr2);
		padding: 0.5rem;
	}

	.list-item {
		line-height: 2rem;
		display: block;
	}
}

.action-btn-row {
	padding: 0.2rem 0;
	cursor: pointer;
}
