@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';

:root {
	--fvm-bg-color_blue: var(--blue-1);
	--fvm-text-color_blue: var(--blue-11);
	--fvm-highlight-color_blue: var(--blue-9);
}

:root[theme='blue'] {
	--fvm-bg-clr: var(--blue-1);
	--fvm-bg-clr2: var(--blue-2);

	--fvm-cmp-clr: var(--blue-3);
	--fvm-cmp-clr2: var(--blue-4);
	--fvm-cmp-clr3: var(--blue-5);

	--fvm-border-clr: var(--blue-6);
	--fvm-border-clr2: var(--blue-7);
	--fvm-border-clr3: var(--blue-8);

	--fvm-solid-clr: var(--blue-9);
	--fvm-solid-clr2: var(--blue-10);

	--fvm-text-clr: var(--blue-11);
	--fvm-text-clr2: var(--blue-12);
}
