:root {
  --enas-background-primary-color_frost: rgb(50, 40, 49);
  --enas-foreground-primary-color_frost: rgb(206, 204, 204);
  --enas-highlight-color_frost: rgb(195, 172, 240);
}

:root[theme='frost'] {
  --enas-background-primary-color: var(--enas-background-primary-color_frost);
  --enas-background-secondary-color: rgb(57, 47, 75);

  --enas-foreground-primary-color: var(--enas-foreground-primary-color_frost);
  --enas-foreground-secondary-color: rgb(250, 250, 250);

  --enas-highlight-color: var(--enas-highlight-color_frost);
  --enas-border-color: rgb(98, 81, 89);

  --enas-scrollbar-thumb-color: var(--enas-info-color);

  // element-plus
  --el-bg-color-overlay: var(--enas-background-primary-color);
  --el-bg-color: var(--enas-background-primary-color);
  --el-border-color:var(--enas-border-color);
  --el-border-color-light: var(--enas-border-color);
  --el-border-color-lighter: var(--enas-border-color);
  --el-color-primary: var(--enas-highlight-color);
  --el-fill-color-blank: var(--enas-background-secondary-color);
  --el-text-color-primary: var(--enas-foreground-secondary-color);
  --el-text-color-regular: var(--enas-foreground-primary-color);

  .el-button {
    --el-button-bg-color: var(--enas-background-secondary-color);
    --el-button-border-color: var(--enas-border-color);
    --el-button-hover-bg-color: var(--enas-highlight-color);
    --el-button-hover-border-color: var(--enas-border-color);
    --el-button-hover-text-color: var(--enas-foreground-primary-color);
    --el-button-text-color: var(--enas-foreground-primary-color);
  }
}