@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-dark.css';

:root {
	--enas-bg-color_grass: var(--grass-1);
	--enas-text-color_grass: var(--grass-11);
	--enas-highlight-color_grass: var(--grass-9);
}

:root[theme='grass'] {
	--enas-bg-clr: var(--grass-1);
	--enas-bg-clr2: var(--grass-2);

	--enas-cmp-clr: var(--grass-3);
	--enas-cmp-clr2: var(--grass-4);
	--enas-cmp-clr3: var(--grass-5);

	--enas-border-clr: var(--grass-6);
	--enas-border-clr2: var(--grass-7);
	--enas-border-clr3: var(--grass-8);

	--enas-solid-clr: var(--grass-9);
	--enas-solid-clr2: var(--grass-10);

	--enas-text-clr: var(--grass-11);
	--enas-text-clr2: var(--grass-12);
}
