@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/lime-dark.css';

$lime11: #d6fa8f;

:root {
	--fvm-bg-color_lime: var(--lime-1);
	--fvm-text-color_lime: #{$lime11}; // var(--lime-11);
	--fvm-highlight-color_lime: var(--lime-9);
}

:root[theme='lime'] {
	--fvm-bg-clr: var(--lime-1);
	--fvm-bg-clr2: var(--lime-2);

	--fvm-cmp-clr: var(--lime-3);
	--fvm-cmp-clr2: var(--lime-4);
	--fvm-cmp-clr3: var(--lime-5);

	--fvm-border-clr: var(--lime-6);
	--fvm-border-clr2: var(--lime-7);
	--fvm-border-clr3: var(--lime-8);

	--fvm-solid-clr: var(--lime-9);
	--fvm-solid-clr2: var(--lime-10);

	--fvm-text-clr: #{$lime11}; // var(--lime-11);
	--fvm-text-clr2: var(--lime-12);
}
