@import '@radix-ui/colors/mint.css';
@import '@radix-ui/colors/mint-dark.css';

:root {
	--fvm-bg-color_mint: var(--mint-1);
	--fvm-text-color_mint: var(--mint-11);
	--fvm-highlight-color_mint: var(--mint-9);
}

:root[theme='mint'] {
	--fvm-bg-clr: var(--mint-1);
	--fvm-bg-clr2: var(--mint-2);

	--fvm-cmp-clr: var(--mint-3);
	--fvm-cmp-clr2: var(--mint-4);
	--fvm-cmp-clr3: var(--mint-5);

	--fvm-border-clr: var(--mint-6);
	--fvm-border-clr2: var(--mint-7);
	--fvm-border-clr3: var(--mint-8);

	--fvm-solid-clr: var(--mint-9);
	--fvm-solid-clr2: var(--mint-10);

	--fvm-text-clr: var(--mint-11);
	--fvm-text-clr2: var(--mint-12);
}
