@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/pink-dark.css';

:root {
	--enas-bg-color_pink: var(--pink-1);
	--enas-text-color_pink: var(--pink-11);
	--enas-highlight-color_pink: var(--pink-9);
}

:root[theme='pink'] {
	--enas-bg-clr: var(--pink-1);
	--enas-bg-clr2: var(--pink-2);

	--enas-cmp-clr: var(--pink-3);
	--enas-cmp-clr2: var(--pink-4);
	--enas-cmp-clr3: var(--pink-5);

	--enas-border-clr: var(--pink-6);
	--enas-border-clr2: var(--pink-7);
	--enas-border-clr3: var(--pink-8);

	--enas-solid-clr: var(--pink-9);
	--enas-solid-clr2: var(--pink-10);

	--enas-text-clr: var(--pink-11);
	--enas-text-clr2: var(--pink-12);
}
