:root {
  --enas-background-primary-color_pretty: rgb(255, 238, 244);
  --enas-foreground-primary-color_pretty: rgb(95, 92, 95);
  --enas-highlight-color_pretty: rgb(241, 136, 136);
}

:root[theme='pretty'] {
  --enas-background-primary-color: var(--enas-background-primary-color_pretty);
  --enas-background-secondary-color: rgb(242, 221, 248);

  --enas-foreground-primary-color: var(--enas-foreground-primary-color_pretty);
  --enas-foreground-secondary-color: rgb(110, 76, 87);

  --enas-highlight-color: var(--enas-highlight-color_pretty);
  --enas-border-color: rgb(224, 187, 245);

  --enas-scrollbar-thumb-color: var(--enas-border-color);

  // element-plus
  --el-bg-color-overlay: var(--enas-background-primary-color);
  --el-bg-color: var(--enas-background-primary-color);
  --el-border-color: var(--enas-border-color);
  --el-border-color-light: var(--enas-border-color);
  --el-border-color-lighter: var(--enas-border-color);
  --el-color-primary: var(--enas-highlight-color);
  --el-fill-color-blank: var(--enas-background-secondary-color);
  --el-text-color-primary: var(--enas-foreground-secondary-color);
  --el-text-color-regular: var(--enas-foreground-primary-color);

  .el-button {
    --el-button-bg-color: var(--enas-background-secondary-color);
    --el-button-border-color: var(--enas-border-color);
    --el-button-hover-bg-color: var(--enas-highlight-color);
    --el-button-hover-border-color: var(--enas-border-color);
    --el-button-hover-text-color: var(--enas-foreground-primary-color);
    --el-button-text-color: var(--enas-foreground-primary-color);
  }
}