@import '@radix-ui/colors/sky.css';
@import '@radix-ui/colors/sky-dark.css';

:root {
	--fvm-bg-color_sky: var(--sky-1);
	--fvm-text-color_sky: var(--sky-11);
	--fvm-highlight-color_sky: var(--sky-9);
}

:root[theme='sky'] {
	--fvm-bg-clr: var(--sky-1);
	--fvm-bg-clr2: var(--sky-2);

	--fvm-cmp-clr: var(--sky-3);
	--fvm-cmp-clr2: var(--sky-4);
	--fvm-cmp-clr3: var(--sky-5);

	--fvm-border-clr: var(--sky-6);
	--fvm-border-clr2: var(--sky-7);
	--fvm-border-clr3: var(--sky-8);

	--fvm-solid-clr: var(--sky-9);
	--fvm-solid-clr2: var(--sky-10);

	--fvm-text-clr: var(--sky-11);
	--fvm-text-clr2: var(--sky-12);
}
