@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/teal-dark.css';

:root {
	--fvm-bg-color_teal: var(--teal-1);
	--fvm-text-color_teal: var(--teal-11);
	--fvm-highlight-color_teal: var(--teal-9);
}

:root[theme='teal'] {
	--fvm-bg-clr: var(--teal-1);
	--fvm-bg-clr2: var(--teal-2);

	--fvm-cmp-clr: var(--teal-3);
	--fvm-cmp-clr2: var(--teal-4);
	--fvm-cmp-clr3: var(--teal-5);

	--fvm-border-clr: var(--teal-6);
	--fvm-border-clr2: var(--teal-7);
	--fvm-border-clr3: var(--teal-8);

	--fvm-solid-clr: var(--teal-9);
	--fvm-solid-clr2: var(--teal-10);

	--fvm-text-clr: var(--teal-11);
	--fvm-text-clr2: var(--teal-12);
}
