@import '@radix-ui/colors/tomato.css';
@import '@radix-ui/colors/tomato-dark.css';

:root {
	--fvm-bg-color_tomato: var(--tomato-1);
	--fvm-text-color_tomato: var(--tomato-11);
	--fvm-highlight-color_tomato: var(--tomato-9);
}

:root[theme='tomato'] {
	--fvm-bg-clr: var(--tomato-1);
	--fvm-bg-clr2: var(--tomato-2);

	--fvm-cmp-clr: var(--tomato-3);
	--fvm-cmp-clr2: var(--tomato-4);
	--fvm-cmp-clr3: var(--tomato-5);

	--fvm-border-clr: var(--tomato-6);
	--fvm-border-clr2: var(--tomato-7);
	--fvm-border-clr3: var(--tomato-8);

	--fvm-solid-clr: var(--tomato-9);
	--fvm-solid-clr2: var(--tomato-10);

	--fvm-text-clr: var(--tomato-11);
	--fvm-text-clr2: var(--tomato-12);
}
