@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-dark.css';

:root {
	--fvm-bg-color_violet: var(--violet-1);
	--fvm-text-color_violet: var(--violet-11);
	--fvm-highlight-color_violet: var(--violet-9);
}

:root[theme='violet'] {
	--fvm-bg-clr: var(--violet-1);
	--fvm-bg-clr2: var(--violet-2);

	--fvm-cmp-clr: var(--violet-3);
	--fvm-cmp-clr2: var(--violet-4);
	--fvm-cmp-clr3: var(--violet-5);

	--fvm-border-clr: var(--violet-6);
	--fvm-border-clr2: var(--violet-7);
	--fvm-border-clr3: var(--violet-8);

	--fvm-solid-clr: var(--violet-9);
	--fvm-solid-clr2: var(--violet-10);

	--fvm-text-clr: var(--violet-11);
	--fvm-text-clr2: var(--violet-12);
}
