.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--enas-background-primary-color);
  padding: 0.5rem;

  .el-result__extra {
    width: 100vw;
  }

  .el-progress {
    margin: 0.5rem 0;
    ;
  }
}