.tags {
  gap: 0.5rem;
  flex-wrap: wrap;
  display: flex;
  line-height: initial;

  .icon {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    fill: currentColor;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
  }

  .tag-btn {
    color: var(--enas-foreground-primary-color);
    background-color: var(--enas-highlight-color);
    align-items: center;
    padding: 0.2rem;
    border-radius: 0.25rem;
  }

  &.small {
    .icon {
      font-size: 0.5rem;
    }

    .tag-btn {
      border-radius: 0.1rem;
      font-size: 0.75rem;
      padding: 0.1rem 0.2rem;
    }
  }
}

.item-selected {
  border-left: 2px solid var(--enas-highlight-color);
  background-color: var(--enas-background-secondary-color);
  color: var(--enas-highlight-color);
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}