.ActivityBar {
	background-color: var(--fvm-activity-bar-background-clr);
	width: var(--fvm-desktop-activity-bar-width);
	height: calc(100vh - var(--fvm-title-bar-height));

	.Bottom {
		position: absolute;
		bottom: 0;
		width: var(--fvm-desktop-activity-bar-width);
	}

	.Item {
		text-align: center;

		// &.TextAction {
		// 	background-color: var(--fvm-border-clr2);
		// }
		&.Active {
			background-color: var(--fvm-solid-clr);
		}

		&:hover {
			background-color: var(--fvm-solid-clr2);
		}
	}
}
