@import '@/styles/mixin.scss';

.DialogOverlay {
	background-color: var(--fvm-bg-clr);
	position: fixed;
	inset: 0;

	&.Animate {
		animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	}
}

.DialogContent {
	background-color: var(--fvm-cmp-clr);
	border: 1px solid var(--fvm-border-clr);
	border-radius: 6px;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	z-index: 2;

	button,
	fieldset,
	input {
		all: unset;
	}

	.ButtonGroup {
		margin-top: 2rem;

		&.start {
			display: flex;
			justify-content: flex-start;
		}
		&.end {
			display: flex;
			justify-content: flex-end;
		}

		&.center {
			display: flex;
			justify-content: center;
		}
	}

	&.Animate {
		animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	}

	&:focus {
		outline: none;
	}
}

.DialogTitle {
	margin: 0;
	font-weight: 500;
	color: var(--fvm-solid-clr);
	font-size: 1.5rem;
}

.DialogDescription {
	margin: 10px 0 20px;
	color: var(--fvm-text-clr2);
	font-size: 1rem;
	line-height: 1.5;
}

.Button {
	@include flex-center;
	display: inline-flex;
	border-radius: 4px;
	padding: 0 0.5rem;
	margin: 0 0.5rem;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	border: 1px solid var(--fvm-solid-clr);

	&.Ok {
		background-color: var(--fvm-solid-clr);

		&:hover {
			background-color: var(--fvm-solid-clr2);
		}
	}

	&.Cancel {
		background-color: var(--fvm-cmp-clr);

		&:hover {
			background-color: var(--fvm-cmp-clr3);
		}
	}

	&.Ext {
		background-color: var(--fvm-cmp-clr3);

		&:hover {
			background-color: var(--fvm-cmp-clr);
		}
	}
}

.IconButton {
	@include flex-center;
	// display: inline-flex;
	font-family: inherit;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	color: var(--fvm-danger-clr);
	position: absolute;
	top: 10px;
	right: 10px;

	&:hover {
		background-color: var(--fvm-warning-clr);
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
