@import '@/styles/mixin.scss';

.Search {
	color: var(--fvm-text-clr2);

	.SearchLine {
		display: flex;

		.Left {
			@include flex-center;
			padding-inline-end: 0.5rem;
		}

		.Right {
			@include flex-center;
			padding-inline-start: 0.5rem;

			button {
				padding-inline-start: 0.5rem;
				padding-inline-end: 0.5rem;
			}
		}
	}
}
