/* reset */
button {
	all: unset;
}

.AlertDialogOverlay {
	background-color: var(--fvm-bg-clr);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 1;
}

.AlertDialogContent {
	background-color: var(--fvm-cmp-clr);
	border: 1px solid var(--fvm-border-clr);
	border-radius: 6px;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsla(213, 12%, 19%, 0.2) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 2;
}

.AlertDialogContent:focus {
	outline: none;
}

.AlertDialogTitle {
	margin: 0;
	color: var(--fvm-solid-clr);
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;

	.icon {
		height: 1.5rem;
		width: 1.5rem;
		padding-top: 0.25rem;
	}
}

.AlertDialogDescription {
	margin-bottom: 20px;
	color: var(--fvm-text-clr2);
	font-size: 15px;
	line-height: 1.5;
}

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
}

.Button.ok {
	background-color: var(--fvm-solid-clr);
}
.Button.ok:hover {
	background-color: var(--fvm-solid-clr2);
}

.Button.cancel {
	background-color: var(--fvm-cmp-clr3);
}
.Button.cancel:hover {
	background-color: var(--fvm-cmp-clr2);
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
