.Tags {
	color: var(--fvm-text-clr2);

	.TagsList {
		margin-top: 0.5rem;
		padding-top: 0.5rem;

		.TagItem {
			min-width: 150px;
			margin: 0.5rem;
			padding: 0.5rem;
			cursor: pointer;
			border: dashed 1px var(--fvm-cmp-clr3);
		}
	}
}
