.ThemeSelector {
	color: var(--enas-text-clr2);

	.ListItem {
		min-width: 150px;
		padding: 0.5rem;
	}

	.ThemeColorBoxGroup {
		border: 1px solid #888;
		display: flex;
		height: 1em;
		margin-top: 0.5em;

		.ThemeColorBox {
			display: flex;
			width: 1em;
		}
	}
}
