.Resizer {
	background-color: var(--fvm-border-clr);
	cursor: col-resize;
	height: calc(100vh - var(--fvm-title-bar-height));
	position: fixed;
	top: var(--fvm-title-bar-height);
	width: var(--fvm-desktop-rezizer-width);
}
