.Resizer {
	background-color: var(--enas-border-clr);
	cursor: col-resize;
	height: calc(100vh - var(--enas-title-bar-height));
	position: fixed;
	top: var(--enas-title-bar-height);
	width: var(--enas-desktop-rezizer-width);
}
